
/*=============================================================
    Authour URI: www.binarycart.com
    Version: 1.1
    License: MIT
    
    http://opensource.org/licenses/MIT

    100% To use For Personal And Commercial Use.
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}
#loading {
    position: fixed;
    z-index: 1100;
	width: 100%;
	height: 100%;
	display: none;
	top:0;
	left:0;
	background: rgba( 0, 0, 0, 0.2 ) url(../img/loading.gif) 50% 50% no-repeat;
}

textarea {
	margin: 0px; 
	width: 100%; 
	height: 96px; 
	border-radius: 4px; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	padding: 6px 12px;
	display: block;
	resize: vertical;
}

.menu {
	cursor : pointer;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: none;
    text-indent: -9999px;
	background: url('../img/scrolltop.png') 50% 50% no-repeat;
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.scrolldown {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 65px;
    right: 5px;
    display: none;
    text-indent: -9999px;
	background: url('../img/scrollbottom.png') 50% 50% no-repeat;
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.scrollup:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.scrolldown:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 25px 10px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:0px ;
    background-color:#fff!important;
    padding:0px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #C90000;
width: 200px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:10px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:grey;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:15px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#fff;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

.labelColumn {
	margin-top: 3px;
}

h5 {
	color: red;
	font-weight: bold;
}

.custom-combobox {
	position: relative;
	display: inline-block;
	width: 100%;
}
.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
	display: block;
	width: 100%;
	height: 24px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ui-autocomplete {
	font-family: Open Sans, sans-serif; 
	font-size: 14px;
}
.custom-combobox .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	right: 10px;
	top: 11px;
	position: absolute;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 5px 8px 2px 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
#datainput > thead > tr > th,
#datainput > tbody > tr > th,
#datainput > tfoot > tr > th,
#datainput > thead > tr > td,
#datainput > tbody > tr > td,
#datainput > tfoot > tr > td {
	padding: 2px 8px 2px 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.form-control-custom {
  display: block;
  width: 100%;
  height: 30px;
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-custom:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-custom::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control-custom:-ms-input-placeholder {
  color: #999;
}
.form-control-custom::-webkit-input-placeholder {
  color: #999;
}
.form-control-custom[disabled],
.form-control-custom[readonly],
fieldset[disabled] .form-control-custom {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control-custom {
  height: auto;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
	max-height: 227.5px;
	overflow-y: auto;
	width: auto !important;
	min-width: 240px;
	overflow-x: hidden;
}
.ui-menu .ui-menu-item {
	white-space: nowrap;
}
.ui-menu .ui-menu-item a {
	padding-right: 20px;
}

.nav li a {
    padding: 8px 12px 8px 37px;
}

th[data-column-id="RowNumber"] {
	width: 45px;
}

th[data-column-id="QTY"] {
	width: 50px;
}

th[data-column-id="SalePrice"] {
	width: 75px;
}

th[data-column-id="Discount"] {
	width: 70px;
}

th[data-column-id="Total"] {
	width: 80px;
}

th[data-column-id="Opsi"] {
	max-width: 70px;
}

.ui-dialog-titlebar-close {
	background-image: url("images/ui-icons_454545_256x240.png");
	background-position: -96px -128px;
}
/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
    #page-wrapper{
        margin: 0 0 0 0;
        padding: 0;
    }
	
	.navbar-side {
        z-index: 1;
        position: absolute;
        width: 200px;
    }

   .navbar {
 		border-radius: 0px; 
	}
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.ui-spinner {
	width: 100%;
}

#lblTotal {
	width: 20%;
	display:inline-block;
	float:left;
	height:5%;
	min-height:45px;
	margin:0 0 0 auto;
	text-align:right;
	background-color:black;
	color:#00ff50;
	font-size:32px;
	font-weight:bold;
}

#lblWeight{
	width: 20%;
	display:inline-block;
	float:right;
	height:5%;
	min-height:45px;
	margin:0 0 0 auto;
	text-align:right;
	background-color:black;
	color:#ffffff;
	font-size:32px;
	font-weight:bold;
}

#divModal {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(166, 166, 166);
	background-image: url(../../assets/css/images/ui-bg_dots-small_65_a6a6a6_2x2.png);
	background-origin: padding-box;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: auto;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	filter: none;
	height: 100%;
	left: 0px;
	opacity: 0.4;
	position: fixed;
	top: 0px;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 99;
	display:none;
}
